<!-- https://bootsnipp.com/snippets/Q0eE1 -->
<div class="container search-table">
  <div class="search-box">
    <div class="row">
      <div class="col-md-9">
        <input
          type="text"
          id="myInput"
          [typeahead]="suggestions$"
          [typeaheadAsync]="true"
          typeaheadOptionField="name"
          [formControl]="queryField"
          [typeaheadMinLength]="2"
          class="form-control"
          placeholder="search libs..."
          (typeaheadOnSelect)="onSearch()"
          (keyup.enter)="onSearch()"
        />
      </div>
      <div class="col-auto">
        <button class="btn btn-lg btn-success" (click)="onSearch()">search</button>
      </div>
    </div>
  </div>
  <div class="search-list">
    <h3 *ngIf="total >= 0">{{ total }} Records Found</h3>
    <table class="table" id="myTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Version</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of results$ | async">
          <td *ngIf="result.homepage; else nohomepage">
            <a [href]="result.homepage">{{ result.name }}</a>
          </td>
          <ng-template #nohomepage>
            <td>{{ result.name }}</td>
          </ng-template>
          <td>{{ result.version }}</td>
        </tr>
      </tbody>
    </table>
    
    <ng-template #emptylist>
      enter something to start searching for libraries...
    </ng-template>
  </div>
</div>

